# Entornos virtuales
venv/

#variantes de env
.env
.env.*
*.env

# Archivos de Python compilados
*.pyc
*.pyo
*.pyd
__pycache__/
node_modules/

# Base de datos SQLite (si la usas)
db.sqlite3

# Logs
*.log

# Snapshot local del mapa
data/lotes_snapshot.json

# Configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Django generados
staticfiles/
media/
collectstatic/
